.skill-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-white);

    transition: all 0.3s ease-in-out;
    
    &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
    
    &__img {
        font-size: 3rem;
        color: var(--color-primary);
    }
    
}