.skill-list {
    position: relative;
    width: 100%;
    padding: 1em;
    background-color: rgb(223, 223, 223);
  
    &__header {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 1.2;
      color: #000000;
      text-align: center;
      margin-bottom: 1em;
    }
  
    &__description {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.6;
      color: #000000;
      text-align: center;
      margin-bottom: 1em;
    }

    &__card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }


}