.footer {
    background-color: #000000;  // Example background color
    padding: 1em;
    text-align: center;
    font-family: 'Arial', sans-serif;
    bottom: 0;
    width: 100%;
  
    &__email {
      font-size: 1em;
      color: #ffffff; // Example text color
      margin-bottom: 0.5em;
    }
  
    &__social {
      // Placeholder for social media icons or links
      // Example styling for social media icons
      a {
        margin: 0 0.5em;
        color: #333; // Example icon color
        text-decoration: none;
  
        &:hover {
          color: #007bff; // Example hover color
        }
      }
    }
  }